{% extends 'base.html'%}
{% block content %}

<!-- nav bar começa aqui -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Download de vídeos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<!-- nav bar termina aqui -->


<!-- Input do link -->
    <form method="get" action="download"> {% csrf_token %}
    <div class="container">
        <br><br>
        <center><h1> Cole o Link do Vídeo</h1></center>
        <ul>
            <li>Cole o link do vídeo</li>
            <li>OBS: veja se o link está correto</li>
            <li>Clique em Download</li>
            <li>O vídeo ficará salve em Downloads</li>
        </ul>
        <br>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">https://examplo.com</span>
          </div>
            <input type="url" name="link" required="" id="id_link" class="form-control" placeholder="Link do Vídeo" aria-describedby="basic-addon3">
          </div>

          <center>
            <button type="submit" class="btn btn-primary" formmethod='get'>Download</button>
          </center>
          
            <br>
            <div class="row video">
                <h5>Resoluções:</h5>
                <div class="col-sm-2">
                  <label><input type="radio" name="qualityRadio" value="1080p"> Alta</label>
                </div>
                <div class="col-sm-2">
                  <label><input type="radio" name="qualityRadio" value="720p"> Média</label>
                </div>
                <div class="col-sm-2">
                  <label><input type="radio" name="qualityRadio" value="360p"> Baixa</label>
                </div>
                <div class="col-sm-2">
                  <label><input type="radio" name="qualityRadio" value="audio"> Áudio</label>
                </div>
            </div>
    </div>
    </form>
<!-- termina aqui o input do Link -->
<br><br>


<!-- https://www.youtube.com/watch?v=ecxkW9NIonI -->

{% endblock content %}