{% extends 'base.html'%}
{% block title %} Home {% endblock title%}
{% block content %}
<!-- nav bar começa aqui -->
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
        <a class="navbar-brand" href="{% url 'home' %}">
        <img img src="static/img/youtube.png" width="30" height="30" class="d-inline-block align-top" alt="{% url 'home'%}">
        Download from YouTube video
        </a>
        </div>
      </header>
<!-- nav bar termina aqui -->


<!-- Input do link -->
    <form method="get" action="download"> {% csrf_token %}
    <div class="container">
        <center><h1> Cole o Link do Vídeo</h1></center>
        <ul>
            <li>Cole o link do vídeo</li>
            <li>OBS: veja se o link está correto</li>
            <li>Clique em Download</li>
            <li>O vídeo ficará salve em Downloads</li>
        </ul>
        <br>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">https://examplo.com</span>
          </div>
            <input type="url" name="link" required="" id="id_link" class="form-control" placeholder="Link do Vídeo" aria-describedby="basic-addon3">
          </div>

          <center>
            <button type="submit" class="btn btn-primary" formmethod='get'>Download</button>
          </center>
          
            <br>
            <div class="row video">
                <h5>Resoluções:</h5>
                <div class="col-sm-2">
                  <label><input type="radio" name="qualityRadio" value="720p"> 720p</label>
                </div>
                <div class="col-sm-2">
                  <label><input type="radio" name="qualityRadio" value="360p"> 360p</label>
                </div>
                <div class="col-sm-2">
                  <label><input type="radio" name="qualityRadio" value="audio"> Áudio</label>
                </div>
            </div>
    </div>
    </form>
<!-- termina aqui o input do Link -->
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <center><a href="https://www.linkedin.com/in/willyam-cutrim-6584b8161/">Linkedin</a>, by <a href="https://www.instagram.com/wilinha.py/">@wilinha.py</a></center>
      </footer>
<!-- https://www.youtube.com/watch?v=ecxkW9NIonI -->

{% endblock content %}