{% extends 'base.html'%}
{% block content %}

<!-- nav bar começa aqui -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Download de vídeos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Converter Fotos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Converter Arquivos</a>
        </li>
    </div>
  </div>
</nav>
<!-- nav bar termina aqui -->


<!-- Input do link -->
    <form method="get" action="download"> {% csrf_token %}
    <div class="container">
        <br><br>
        <center> <h1> Cole o Link do Vídeo</h1></center>
        <br>
        <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon3">https://examplo.com</span>
        <input name="url" type="text" class="form-control" id="link" aria-describedby="basic-addon3" placeholder="Link do Vídeo">
        </div>
        <center>
        
        <button type="submit" class="btn btn-primary" formmethod='get'>Download</button>
        </center>
    </div>
    
    </form>
    {{alert}}
<!-- termina aqui o input do Link -->
<br><br>




{% endblock content %}